<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="header_fragment" class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/app/Inicio" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img class="me-3" src="/img/logo_lab6.jpg" alt="Logo" height="45">
        <span class="fs-4 fw-bold">EventMaster</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/app/Eventos" class="nav-link active">Eventos</a></li>
        <li class="nav-item"><a href="/app/Artistas" class="nav-link">Artistas</a></li>
        <li class="nav-item"><a href="/app/Contacto" class="nav-link">Contacto</a></li>
    </ul>
</header>
</body>
</html>